# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
*.iml
.idea
